.DraftEditor-root {
  height: 200px;
}

.DraftEditor-editorContainer,
.public-DraftEditor-content {
  height: 100%;
}

.rte-widget details {
  margin: 8px 0;
}

.rte-widget summary {
  cursor: pointer;
}

.rte-widget textarea {
  height: 200px;
  width: 100%;
  resize: vertical;
}
